<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="techconnective.herokuapp.com">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OngActivity.DoacaoInfoActivity" />
        <activity android:name=".OngActivity.DoantesOngActivity" />
        <activity android:name=".login.LoginOngActivity" />
        <activity android:name=".Ong.OngActivity" />
        <activity android:name=".doacao.DonateDetailActivity" />
        <activity android:name=".doacao.FormDonateActivity" />
        <activity android:name=".eventos.EventDetailActivity" />
        <activity
            android:name=".menu.MenuActivity"
            android:theme="@style/MenuPage" />
        <activity
            android:name=".login.MainActivity"
            android:theme="@style/LoginPage" />
        <activity
            android:name=".cadastro.CreateAccountActivity"
            android:theme="@style/CreatAccountPage" />
        <activity
            android:name=".login.ForgotPasswordActivity"
            android:theme="@style/ForgotPasswordPage" />
        <activity
            android:name=".SplashScreenActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>